
.dashboard {
  display: flex;
  align-items: center;
}

.dashboard__column1 {
  width: 50%;
  margin: 5%;
}

img {
  width: 90%;
}

.dashboard__column2 {
  width: 50%;
  text-align: center;
  margin-right: 5%;
}

.dashboard__intro {
  margin-bottom: 1rem;
}

.dashboard__intro-h1 {
  font-size: 22px;
  margin-bottom: 2rem;
}

.dashboard__cta-link {
  display: flex;
  justify-content: center;
  margin: auto;
  width: 100px;
  background: #2667ff;
  border-radius: 7px;
  transition: all 0.5s;
}

.dashboard__cta-link:hover {
  background: transparent;
  color: #2667ff;
  display: flex;
  justify-content: center;
  margin: auto;
  width: 100px;
  border: 1px solid #2667ff;
}

.dashboard__link-arrow {
  font-size: 2rem;
  color: white;
}
.dashboard__link-arrow:hover {
  color: #2667ff;
}


/* media query */
@media (max-width: 600px) {
  .dashboard {
    flex-direction: column;
    gap: 1rem;
    height: 100vh;
    padding: 2rem 0;
  }

  .dashboard__image {
    width: 100%;
  }

  .dashboard__intro-h1 {
    font-size: 1.6rem;
    line-height: 1.8rem;
  }

  .dashboard__cta {
    margin: 2rem auto;
    padding: 0.6rem 1.5rem;
    border-radius: 0.8rem;
  }
}
