@media (max-width: 600px) {
  .explore {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }


}

main {
  margin: 10%;
}

.explore {
  display: flex;
  justify-content: center;
  align-items: center;
}

.explore__column-1 {
  margin-right: 5%;
}

.explore__column-2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  align-items: center;
}

.explore__p {
  font-weight: 400;
  font-size: 22px;
  margin-bottom: 2rem;
}

.explore__cta {
  background: #2667ff;
  border: 1px solid transparent;
  padding: 0.5rem 2rem;
  border-radius: 1rem;
  transition: all 0.5s;
}

.explore__cta:hover {
  border-color: rgb(0, 68, 255);
  background: transparent;
  color: rgb(0, 68, 255);
}

.explore__cta-link {
  color: #f8f8fa;
}

.explore__cta-link:hover {
  color: #2667ff;
}